body{background-color:brown}
span{font-weight: bold}
.parameter p{color:yellow}
.hint{
	color:brown;
	display: none;
	text-align: center;
}

h1{
	color:brown;
	text-align: center;
	margin:0 0 10px;
	border-bottom: 2px solid brown;
}

hr{
	text-align: center;
	border:none;
	margin: 10px 0 0;
	border-bottom: 2px solid brown;
}

.sanoCopyright{
	color:brown;
	text-align: center;
	margin: 10px 0 20px;
	font-size: large;
}

main{
	background-color:orange;
	margin: 0 auto;
	padding: 20px 40px 20px;
}

#popup{
	background-color: rgba(255, 165, 0, 0.8);
	border: brown 3px solid;
	color:  brown;
	text-shadow: orange 1px 1px, orange 1px -1px, orange -1px 1px, orange -1px -1px;
	max-width: 310px;
	height: 64px;
	border-radius: 12px;
	padding: 7px 10px;
	opacity:0;
	margin:0;
	position:relative;
	z-index: 200;
	top:200px;
	text-align:center;
	cursor: pointer;
}

input{
	color:yellow;
	background-color: red;
	border-color: brown;
}

.parameter{
	background-color: brown;
	max-width: 302px;
	padding: 2px 4px 6px;
	text-align:center;
	margin-bottom:20px
}

.robo-image{
	width:310px;
	height:300px;
	margin:0;
}
.robo-image img{
	position: absolute;
	user-select:none;
	-webkit-user-select:none;
	-ms-user-select: none;
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-drag:none;
	-khtml-user-drag:none;
	margin:0;
	cursor: pointer;
}
img[alt=head]{
	animation: head-bound 3s infinite;
	z-index: 100;
	margin-left:70px;
}
img[alt=body]{
	z-index: 90;
	margin-left:71px;
	margin-top:120px;
}
img[alt=arml], img[alt=armr]{
	z-index: 80;
	margin-top:70px;
}
img[alt=arml]{
	animation: arml-bound 3s infinite;
}
img[alt=armr]{
	margin-left:200px;
	animation: armr-bound 3s infinite;
}
@keyframes head-bound{
	0%   { transform: scale(1.0, 1.0) translate(0%, 1%) }
	50%  { transform: scale(1.0, 1.0) translate(0%, 10%) }
}
@keyframes head-break{
	0%   { transform: rotate(0) }
	100%  { transform: rotate(20deg) }
}
@keyframes arml-bound{
	0%   { transform: rotate(0) }
	50%  { transform: rotate(20deg) }
}
@keyframes armr-bound{
	0%   { transform: rotate(0) }
	50%  { transform: rotate(-20deg) }
}
img[alt=head].break{
	animation: head-break 3s;
	transform: rotate(20deg);
	animation-iteration-count: 1;
}
img[alt=arml].break, img[alt=armr].break{
	animation: unset !important;
}

table{
	width: 80%;
	margin: 0 auto;
}

canvas{
	margin: 0 auto;
    display: block;
}
