:root{
	--back-color: #071b15;
	--clear-color: white;
	--clear-shadow: #00008888;
	--cyber-green: #0cee04;
	--pop-back: black;
	--text-color1: #0a380a;
	--text-shadow: #1e9b00;
}

body{
	animation: popLoop 5s infinite linear;
	background-image: url(../_topImg/cyberBack.png);
}

.div-iframe_1-1{
	display:block;
	margin: 0 auto;
	position:relative;
	top: 20px;
}

.link-btn_1-1{
	display:block;
	width: 200px;
	text-align: center;
	background-color: var(--text-color1);
	border: 3px solid var(--cyber-green);
	color: var(--clear-color);
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	top: 50px;
	margin: 0 auto;
	text-decoration: none;
	text-shadow: 1px 1px var(--text-shadow), -1px 1px var(--text-shadow),
		    	    1px -1px var(--text-shadow), -1px -1px var(--text-shadow);
	transition: 0.3s;
}

.main-img_1-1{
	position:relative;
        top:90px;
	left: 80px;
}

.main-p_2-1{
	display: block;
	margin: 0 auto;
	position: relative;
	right: 50px;
	background: var(--back-color);
	border: 3px solid var(--cyber-green);
	width:500px;
	min-height: 48px;
	padding:20px;
	font-weight: bold;
	color: var(--clear-color);
	text-shadow: 1px 1px var(--text-shadow), -1px 1px var(--text-shadow),
		    	    1px -1px var(--text-shadow), -1px -1px var(--text-shadow);
}

.main-btn_2-1{
	width: 200px;
	background-color: var(--text-color1);
	border: 3px solid var(--cyber-green);
	color: var(--clear-color);
	cursor: pointer;
	display: block;
	font-size: 20px;
	font-weight: bold;
	padding: 0 10px;
	position: relative;
	left: 800px;
	bottom: 80px;
	text-decoration: none;
	text-shadow: 1px 1px var(--text-shadow), -1px 1px var(--text-shadow),
		    	    1px -1px var(--text-shadow), -1px -1px var(--text-shadow);
	transition: 0.3s;
}

.link-btn_1-1:active,
.main-btn_2-1:active{
	background-color: var(--cyber-green);
}

#gameClear:disabled{
	opacity: 0.3;
	cursor: default;
}

.popChar{
	position:relative;
	display: inline;
	animation: 0.3s popCharAnime linear;
}

@keyframes popLoop {
  0% {
    background-position-x: 96px
  }

  100% {
    background-position-x: 0
  }
}

@keyframes popCharAnime{
	0%{
		opacity:0;
		top:8px;
	}
	100%{
		opacity:1;
		top:0;
	}
}