body{
	background-image: url(img/5-4.jpg);
	background-color: black;
	background-position:center center;
	background-repeat: no-repeat;
	background-size: cover;
}
#popText{
	background: #fff;
	border: 4px solid green;
	border-radius: 16px;
	min-height: 48px;
	padding:20px;
	font-weight: bold;
	color:green
}

.center{
	text-align: center;
}

.slotTitle{
	font-size: large;
	font-weight: bold;
	color: white;
}

#slotBG{
	border-collapse: collapse;
	margin:0 auto;
}

#slotBG td{
	background-color: red;
	border:1px solid white;
}

#slotImg td{
	background-color: black !important;
}

#launchSlot{
	width: 100%;
	color:brown;
	font-weight: bold;
	background-color: yellow;
	border-color: brown;
	font-size: large;
	cursor: pointer;
}

#launchSlot:active, #launchSlot:disabled{
	color:brown;
	background-color: orange;
}

.HINT{
	width: 8em;
}

.HINT button{
	font-size: large;
	width:100%;
	margin: 2px 0;
	background-color: white;
	border: 3px solid green;
	color: green;
	border-radius: 4px;
	cursor: pointer;
}

.HINT button:active, .HINT button:disabled{
	background-color: yellowgreen;
}

#launchSlot:disabled, .HINT button:disabled{
	cursor: default;
}

@keyframes popCharAnime{
	0%{
		opacity:0;
		top:8px;
	}
	100%{
		opacity:1;
		top:0;
	}
}

.popChar{
	position:relative;
	display: inline;
	animation: 0.3s popCharAnime linear;
}




.tooltip { 
  cursor: pointer;
}
 
.balloon_top { 
  width: 300px; 
  position: absolute;
  bottom: 80%; 
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 15px; 
  padding: 8px;
  border: 4px solid green;
  border-radius: 10px; 
  background-color: white; 
  font-size: 16px;
  color: green;
  visibility: hidden; 
  opacity: 0; 
  z-index: 1;
  transition: 0.5s all; 
}
 
.balloon_top::before { 
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 24px solid green; 
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
 
.tooltip:hover .balloon_top {
  bottom: 125%; 
  visibility: visible; 
  opacity: 1; 
}