*{
	margin:0;
	padding:0;
	color: white;
}
html{ height:100% }
body{
	height:100%;
	background-color: black;
}
#headerStone{
	background-color:#000216;
	width: 100%;
	font-size: xxx-large;
	font-family: serif;
	padding-left: 10px;
}

#headerStone img{
	vertical-align: -8px;
}
table{
	width:100%;
}
.whiteFrame{
	border: 2px white solid;
	border-radius: 4px;
	padding:10px
}
#fuwaMessagePop{
	padding:6px;
	width:calc(100% - 122px);
	min-height:100px;
	display: inline-block;
	vertical-align: bottom;
	font-size: x-large
}

.HINT{
	width: 8em;
}

.HINT button{
	font-size: large;
	width:100%;
	margin: 2px 0;
	background-color: black;
	border: 2px solid white;
	color: white;
	border-radius: 4px;
	cursor: pointer;
}

.HINT button:active, .HINT button:disabled{
	background-color: green;
}

.HINT button:disabled{
	cursor: default;
}


.tooltip { 
  cursor: pointer;
}
 
.balloon_bottom { 
  width: 300px; 
  position: absolute;
  top: 80%; 
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15px; 
  padding: 8px;
  border: 4px solid green;
  border-radius: 10px; 
  background-color: white; 
  font-size: 16px;
  color: green;
  visibility: hidden; 
  opacity: 0; 
  z-index: 1;
  transition: 0.5s all; 
}
 
.balloon_bottom::before { 
  content: "";
  width: 0;
  height: 0;
  border: 10px solid green;
  border-bottom: 12px solid white; 
  position: absolute;
  bottom: 99%;
  left: 50%;
  transform: translateX(-50%);
}
 
.tooltip:hover .balloon_bottom {
  top: 100%; 
  visibility: visible; 
  opacity: 1; 
}

@keyframes popCharAnime{
	0%{
		opacity:0;
		top:8px;
	}
	100%{
		opacity:1;
		top:0;
	}
}

.popChar{
	position:relative;
	display: inline;
	animation: 0.3s popCharAnime linear;
}
