:root{
  --back-color: #071b15;
  --clear-color: white;
  --clear-shadow: #00008888;
  --cyber-green: #0cee04;
  --pop-back: black;
  --text-color1: #0a380a;
  --text-shadow: #1e9b00;
}

body {
  animation: popLoop 5s infinite linear;
  background-image: url(../_topImg/cyberBack.png);
  color: var(--clear-color);
  font-family: cursive;
  margin: 90px 140px;
  padding: 0;
  text-shadow:	1px 1px var(--text-shadow), -1px 1px var(--text-shadow),
					      1px -1px var(--text-shadow), -1px -1px var(--text-shadow);
}

.login_page-title{
  background: #1b5e20;
  border: 3px solid var(--cyber-green);
  font-size: 1.5rem;
  height: 50px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 300px;
}

.login_span {
  bottom: 15px;
  margin: 10px;
  position: relative;
}

.login_form-items {
  margin-top: 90px;
  text-align: center;
}

.login_labels {
  background: #1b5e20;
  border: 3px solid var(--cyber-green);
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 50px;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  top:3px;
}

.login_inputs {
  border: 3px solid gray;
  font-size: 100%;
  height: 50px;
  width: 500px;
}

.login_button-group {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

 .login_submit{
  background: #1b5e20;
  border: 3px solid var(--cyber-green);
  color: var(--clear-color);
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 100px;
  padding: 10px 20px;
  text-align: center;
  text-shadow: 1px 1px var(--text-shadow), -1px 1px var(--text-shadow),
               1px -1px var(--text-shadow), -1px -1px var(--text-shadow);
  transition: 0.3s;
  width:250px;
}

.login_create-user {
  text-decoration: none;
}

.login_link_bottom {
  background: #1b5e20;
  border: 3px solid var(--cyber-green);
  color: var(--clear-color);
  font-size: 1.5rem;
  padding: 10px 20px;
  text-align: center;
  transition: 0.3s;
}

.login_submit:active,
.login_link_bottom:active{
  background-color: var(--cyber-green);
}

.login_submit:hover,
.login_link_bottom:hover{
  opacity: 0.7;
}

@keyframes popLoop {
  0% {
    background-position-x: 96px
  }

  100% {
    background-position-x: 0
  }
}